/*Selects all elements of webpage*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Element selector for entire body of page*/
body {
    background-color: #d9dcd6;
}

/*Class selector for the page's header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Class selector for h1 text contained within the header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Class selector that makes the seo in Horiseon a different color in the header*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Class selector to help format the ul contained within the header that has the links*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*This code is unnecessary since the inline-display tag will remove the bullet points
.header div ul {
    list-style-type: none;
}*/

/*Class selector tells the list items in the header how to display (removed unnecessary ul tag)*/
.header div li {
    display: inline-block;
    margin-left: 25px;
}

/*Element selector telling all links how to appear on the page, removes the underline from them*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Element selector telling all paragraph text how big the font should be*/
p {
    font-size: 16px;
}

/*Class selector telling the image that displays at the top of the page how it should look when the webpage is loaded*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Homework-01-Images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Tells the boxes containing search engine optimization, online reputation management, and social media marketing how to format on the webpage*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Moved all of the items contained in the content section of the HTML code so they appear beneath the content section on CSS
This organizes the CSS code more efficeintly, if there was an issue in a section now all the code in that section is together*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Shortened the code applying to all images in the content section, putting them in one group*/
.content img {
   max-height: 200px;
}

/*Shortened the code applying to h2's in the content section, wrapping them into one group instead of doing each one individually*/
.content h2 {
margin-bottom: 20px;
font-size: 36px;
}

/*These class selectors tell the images in the content section which side of their boxes they should appear on*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*Moved the code so that all of the CSS code applying to the benefits section on HTML is together*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*The below class selectors tell the words within each benefits section what color they are, and how much margin should be between them*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Removed the individual h3 class selectors and combined them into one under the benefits class selector to simplify the code*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}


/*Removed the individual img class selectors and combined them into one under the benefits class selector to simplify the code*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*The below class selectors tell the footer, and the text within the footer how to render on the webpage*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
